<html>

<head>


</head>

<body>
<img style="width:100%" src="http://wefun.vip/images/404.png" />
<div style="text-align:center">
    <button type="button" style="padding: 20px 40px;border-radius: 5px; background-color: #00BFFF; border: 1px  #555 solid; color: #FFFFFF; font-size:30px" onclick="closeWindow()">查看其他活动
    </button>
</div>

</body>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script>
    function closeWindow() {
        console.log("关闭函数触发");
        wx.miniProgram.navigateBack({});
        if (typeof window.WeixinJSBridge == "undefined") {
            $(document).on("WeixinJSBridgeReady", function() {
                WeixinJSBridge.invoke('closeWindow', {}, function() {

                });
            });
        } else {
            WeixinJSBridge.invoke('closeWindow', {}, function() {});
        }
    }
</script>

<html>