@media screen and (max-width: 768px) {
  a,
  abbr,
  acronym,
  address,
  applet,
  article,
  aside,
  audio,
  b,
  big,
  blockquote,
  body,
  canvas,
  caption,
  center,
  cite,
  code,
  dd,
  del,
  details,
  dfn,
  div,
  dl,
  dt,
  em,
  embed,
  fieldset,
  figcaption,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  html,
  i,
  iframe,
  img,
  input,
  ins,
  kbd,
  label,
  legend,
  li,
  mark,
  menu,
  nav,
  object,
  ol,
  output,
  p,
  pre,
  q,
  ruby,
  s,
  samp,
  section,
  small,
  span,
  strike,
  strong,
  sub,
  summary,
  sup,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  time,
  tr,
  tt,
  u,
  ul,
  var,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline
  }

  textarea {
    -webkit-appearance: none
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  menu,
  nav,
  section {
    display: block
  }

  body {
    line-height: 1
  }

  blockquote,
  q {
    quotes: none
  }

  blockquote:after,
  blockquote:before,
  q:after,
  q:before {
    content: none
  }

  table {
    border-collapse: collapse;
    border-spacing: 0
  }

  a {
    color: #333;
    -webkit-backface-visibility: hidden
  }

  a,
  a:hover {
    text-decoration: none
  }

  li {
    list-style: none
  }

  body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  }

  body,
  html {
    line-height: 1;
    font-weight: 300;
    font-family: Microsoft YaHei, PingFang SC, STHeitiSC-Light, Heiti SC, Roboto, Noto, arial, sans-serif;
    background: #fff
  }

  [aspectratio] {
    position: relative
  }

  [aspectratio]:before {
    content: "";
    display: block;
    width: 1px;
    margin-left: -1px;
    height: 0
  }

  [aspectratio-content] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
  }

  [w-16-9]:before {
    padding-top: 56.25%
  }

  img {
    content: normal !important
  }

  .clearfix {
    display: inline-block
  }

  .clearfix:after {
    display: block;
    content: "";
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden
  }

  body {
    width: 100vw;
    margin: 0 auto;
    content: "viewport-units-buggyfill; width: 100vw"
  }

  body .g-hd {
    position: relative;
    width: 100%;
    height: 10.667vw;
    background: url(../img/icon-logo-wap.png) 50% no-repeat;
    background-size: auto 8vw;
    content: "viewport-units-buggyfill; height: 10.667vw; background-size: auto 8vw"
  }

  body .g-banner {
    width: 100%;
    height: 53.333vw;
    background: url(../img/icon-banner-wap.png) 50% no-repeat;
    background-size: cover;
    content: "viewport-units-buggyfill; height: 53.333vw"
  }

  body .g-m {
    width: 100%;
    padding: 4vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: "viewport-units-buggyfill; padding: 4vw"
  }

  body .g-m .title {
    margin-bottom: 2.667vw;
    width: 100%;
    height: 8vw;
    line-height: 8vw;
    font-size: 4.267vw;
    color: #2481c5;
    border-bottom: 1px solid #2481c5;
    content: "viewport-units-buggyfill; margin-bottom: 2.667vw; height: 8vw; line-height: 8vw; font-size: 4.267vw"
  }

  body .g-m .m-bd {
    font-size: 3.733vw;
    line-height: 1.8;
    content: "viewport-units-buggyfill; font-size: 3.733vw"
  }

  body .g-bd {
    width: 100%;
    padding: 4vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: "viewport-units-buggyfill; padding: 4vw"
  }

  body .g-bd .title {
    width: 100%;
    height: 8vw;
    line-height: 8vw;
    font-size: 4.267vw;
    color: #2481c5;
    border-bottom: 1px solid #2481c5;
    content: "viewport-units-buggyfill; height: 8vw; line-height: 8vw; font-size: 4.267vw"
  }

  body .g-bd .list-wrap {
    margin-top: 4vw;
    width: 100%;
    content: "viewport-units-buggyfill; margin-top: 4vw"
  }

  body .g-bd .list-wrap .list {
    float: left;
    width: 26.667vw;
    margin-left: 6vw;
    margin-bottom: 13.333vw;
    content: "viewport-units-buggyfill; width: 26.667vw; margin-left: 6vw; margin-bottom: 13.333vw"
  }

  body .g-bd .list-wrap .list:nth-child(3n+1) {
    margin-left: 0
  }

  body .g-bd .list-wrap .list .avatar-wrap {
    width: 26.667vw;
    font-size: 0;
    content: "viewport-units-buggyfill; width: 26.667vw"
  }

  body .g-bd .list-wrap .list .avatar-wrap .avatar {
    width: 26.667vw;
    height: 39.467vw;
    content: "viewport-units-buggyfill; width: 26.667vw; height: 39.467vw"
  }

  body .g-bd .list-wrap .list .text-wrap {
    margin-top: 1.6vw;
    font-size: 3.733vw;
    text-align: center;
    content: "viewport-units-buggyfill; margin-top: 1.6vw; font-size: 3.733vw"
  }

  body .g-bd .list-wrap .list .text-wrap .name {
    height: 17.6vw;
    content: "viewport-units-buggyfill; height: 17.6vw"
  }

  body .g-bd .list-wrap .list .text-wrap .ticket-wrap {
    margin-top: 1.333vw;
    content: "viewport-units-buggyfill; margin-top: 1.333vw"
  }

  body .g-bd .list-wrap .list .text-wrap .ticket-wrap .ticket-num {
    display: inline-block;
    padding: .533vw 1.067vw;
    border-radius: .8vw;
    color: #fff;
    background: #2481c5;
    content: "viewport-units-buggyfill; padding: 0.533vw 1.067vw; border-radius: 0.8vw"
  }

  body .g-bd .list-wrap .list .text-wrap .link {
    margin-top: 2.667vw;
    display: inline-block;
    padding: .533vw 1.867vw;
    border-radius: .8vw;
    color: #fff;
    background: #2481c5;
    content: "viewport-units-buggyfill; margin-top: 2.667vw; padding: 0.533vw 1.867vw; border-radius: 0.8vw"
  }

  body .g-bd .list-wrap .list .text-wrap .link .icon {
    display: inline-block;
    width: 3.467vw;
    height: 2.8vw;
    background: url(../img/icon-toupiao.png) 50% no-repeat;
    background-size: cover;
    content: "viewport-units-buggyfill; width: 3.467vw; height: 2.8vw"
  }

  body .g-download {
    width: 100%;
    margin-top: 10.667vw;
    text-align: center;
    content: "viewport-units-buggyfill; margin-top: 10.667vw"
  }

  body .g-download .down {
    display: inline-block;
    padding: 2.667vw 8vw 2.667vw 13.333vw;
    font-size: 3.733vw;
    color: #fff;
    border-radius: 13.333vw;
    background: url(../img/icon-phone.png) left 8vw center no-repeat #0081dc;
    background-size: auto 5.333vw;
    content: 'viewport-units-buggyfill; padding: 2.667vw 8vw 2.667vw 13.333vw; font-size: 3.733vw; border-radius: 13.333vw; background: url("../img/icon-phone.png") left 8vw center no-repeat #0081dc; background-size: auto 5.333vw'
  }

  body .g-download .desc {
    margin-top: 2.667vw;
    font-size: 3.2vw;
    content: "viewport-units-buggyfill; margin-top: 2.667vw; font-size: 3.2vw"
  }

  body .g-ft {
    width: 100%;
    margin-top: 5.333vw;
    padding: 3.733vw 0;
    border-top: 1px solid rgba(0, 0, 0, .5);
    -o-border-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMnB4Ij48cmVjdCBmaWxsPSIjZWVlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI1MCUiLz48L3N2Zz4=") 2 2 stretch;
    border-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMnB4Ij48cmVjdCBmaWxsPSIjZWVlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI1MCUiLz48L3N2Zz4=") 2 2 stretch;
    text-align: center;
    font-size: 3.6vw;
    content: "viewport-units-buggyfill; margin-top: 5.333vw; padding: 3.733vw 0; font-size: 3.6vw"
  }

  body .g-ft .m-copyright {
    margin-top: 2.667vw;
    content: "viewport-units-buggyfill; margin-top: 2.667vw"
  }

  body .g-qrcode {
    width: 100%;
    margin-top: 6.667vw;
    content: "viewport-units-buggyfill; margin-top: 6.667vw"
  }

  body .g-qrcode .qrcode-wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -ms-flex-pack: distribute;
    justify-content: space-around
  }

  body .g-qrcode .qrcode-wrap .qrcode-box {
    width: 29.333vw;
    text-align: center;
    content: "viewport-units-buggyfill; width: 29.333vw"
  }

  body .g-qrcode .qrcode-wrap .qrcode-box .qrcode {
    width: 26.667vw;
    height: 26.667vw;
    content: "viewport-units-buggyfill; width: 26.667vw; height: 26.667vw"
  }

  body .g-qrcode .qrcode-wrap .qrcode-box .desc {
    font-size: 2.667vw;
    content: "viewport-units-buggyfill; font-size: 2.667vw"
  }

  body .g-ft-pc {
    display: none
  }
}

@media screen and (min-width: 769px) {
  blockquote,
  body,
  button,
  caption,
  dd,
  div,
  dl,
  dt,
  fieldset,
  figure,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  html,
  input,
  legend,
  li,
  menu,
  ol,
  p,
  pre,
  table,
  td,
  textarea,
  th,
  ul {
    margin: 0;
    padding: 0
  }

  address,
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block
  }

  table {
    border-spacing: 0;
    border-collapse: collapse
  }

  caption,
  th {
    font-weight: 400;
    text-align: left
  }

  abbr,
  body,
  fieldset,
  html,
  iframe,
  img {
    border: 0
  }

  address,
  cite,
  dfn,
  em,
  i,
  var {
    font-style: normal
  }

  [hidefocus],
  summary {
    outline: 0
  }

  li {
    list-style: none
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  small {
    font-size: 100%
  }

  sub,
  sup {
    font-size: 83%
  }

  code,
  kbd,
  pre,
  samp {
    font-family: inherit
  }

  q:after,
  q:before {
    content: none
  }

  textarea {
    overflow: auto;
    resize: none
  }

  label,
  summary {
    cursor: default
  }

  a,
  button {
    cursor: pointer
  }

  b,
  em,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    font-weight: 400
  }

  a,
  a:hover,
  del,
  ins,
  s,
  u {
    text-decoration: none
  }

  body,
  button,
  input,
  keygen,
  legend,
  select,
  textarea {
    font: 1.6vw/1.14 arial, Microsoft YaHei, Helvetica, "sans-serif";
    color: #333;
    outline: 0;
    content: "viewport-units-buggyfill; font: 1.6vw/1.14 arial, " Microsoft YaHei ", " Helvetica ", " sans-serif ""
  }

  body {
    background: #fff
  }

  body,
  html {
    line-height: 1;
    font-weight: 300;
    font-family: Microsoft YaHei, PingFang SC, STHeitiSC-Light, Heiti SC, Roboto, Noto, arial, sans-serif;
    background: #eee
  }

  a {
    color: #73151a
  }

  a:hover {
    color: #0081dc
  }

  .clearfix {
    display: inline-block
  }

  .clearfix:after {
    display: block;
    content: "";
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden
  }

  body.ignore {
    width: 100%;
    background: #f3f3f3
  }

  body.ignore .g-hd {
    width: 100%;
    height: 46px
  }

  body.ignore .g-hd .link {
    display: block;
    width: 1200px;
    height: 46px;
    margin: 0 auto;
    background: url(../img/icon-logo-pc.png) 0 no-repeat
  }

  /*body.ignore .g-banner {
    width: 100%;
    height: 602px;
    background: url(../img/icon-banner-pc.png) 50% no-repeat;
    background-size: cover
  }*/
  body.ignore .g-m {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 20px 0;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }

  body.ignore .g-m .title {
    margin-bottom: 10px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: #2481c5;
    border-bottom: 1px solid #2481c5
  }

  body.ignore .g-m .m-bd {
    font-size: 16px;
    line-height: 2
  }

  body.ignore .g-bd {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 20px 0;
    border: 1px solid #ddd;
    border-top: none;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }

  body.ignore .g-bd .title {
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: #2481c5;
    border-bottom: 1px solid #2481c5
  }

  body.ignore .g-bd .list-wrap {
    margin-top: 30px;
    width: 100%
  }

  body.ignore .g-bd .list-wrap .list {
    float: left;
    width: 180px;
    margin-left: 64px;
    margin-bottom: 60px
  }

  body.ignore .g-bd .list-wrap .list:nth-child(5n+1) {
    margin-left: 0
  }

  body.ignore .g-bd .list-wrap .list .avatar-wrap {
    width: 180px;
    font-size: 0
  }

  body.ignore .g-bd .list-wrap .list .avatar-wrap .avatar {
    width: 180px;
    height: 267px
  }

  body.ignore .g-bd .list-wrap .list .text-wrap {
    margin-top: 12px;
    font-size: 16px;
    text-align: center
  }

  body.ignore .g-bd .list-wrap .list .text-wrap .name {
    height: 50px
  }

  body.ignore .g-bd .list-wrap .list .text-wrap .ticket-wrap {
    margin-top: 10px
  }

  body.ignore .g-bd .list-wrap .list .text-wrap .link,
  body.ignore .g-bd .list-wrap .list .text-wrap .ticket-wrap .ticket-num {
    display: inline-block;
    padding: 4px 16px;
    border-radius: 6px;
    color: #fff;
    background: #2481c5
  }

  body.ignore .g-bd .list-wrap .list .text-wrap .link {
    margin-top: 10px
  }

  body.ignore .g-bd .list-wrap .list .text-wrap .link .icon {
    vertical-align: middle;
    display: inline-block;
    width: 26px;
    height: 21px;
    background: url(../img/icon-toupiao.png) 50% no-repeat;
    background-size: cover
  }

  body.ignore .g-bd .list-wrap .list .text-wrap .link .text {
    vertical-align: middle;
    font-size: 15px
  }

  body.ignore .g-download,
  body.ignore .g-ft {
    display: none
  }

  body.ignore .g-qrcode {
    width: 100%;
    margin-top: 50px
  }

  body.ignore .g-qrcode .qrcode-wrap {
    width: 500px;
    margin: 0 auto;
    font-size: 0
  }

  body.ignore .g-qrcode .qrcode-wrap .qrcode-box {
    display: inline-block;
    width: 160px
  }

  body.ignore .g-qrcode .qrcode-wrap .qrcode-box.second {
    margin-left: 180px
  }

  body.ignore .g-qrcode .qrcode-wrap .qrcode-box .qrcode {
    width: 160px
  }

  body.ignore .g-qrcode .qrcode-wrap .qrcode-box .desc {
    margin-top: 8px;
    text-align: center;
    font-size: 14px
  }

  body.ignore .g-ft-pc {
    width: 100%;
    margin-top: 50px;
    height: 115px;
    text-align: center;
    font-size: 13px;
    color: #666;
    overflow: hidden;
    background: #f5f5f5
  }

  body.ignore .g-ft-pc .para {
    line-height: 2
  }

  body.ignore .g-ft-pc .para:first-child {
    margin-top: 30px
  }
}