body {
  margin: 0;
  padding: 0;
  background-color: #1d0030;
  font-family: Arial, Helvetica, sans-serif;
}

.container .info-warpper {
  text-align: center;
}

.info-warpper-1 {
  margin-top: 15%;
  display: inline-block;
}

.info-warpper-2 {
  margin-left: 10%;
  display: inline-block;
}

.image-border {
  border: 2px #00ffcc solid;
  padding: 2px;
  border-radius: 50%;
}

.image1 {
  width: 120px;
  height: 120px;
  border: 2px #cc3366 solid;
  border-radius: 60%;
}

.info {
  margin: 10% 0;
  color: #ffffff;
}

.button-vote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  border-radius: 20px;
  height: 30px;
  line-height: 15px;
  background-color: #cc0066;
  color: #ffffff;
}

.container .progrss-warpper {
  margin-top: 5%;
  color: #ffffff;
  text-align: center;
}

.progress {
  height: 20px;
}

.rate-left {
  margin-right: 55%;
}

.progress-left {
  background: #66ffcc;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.progress-right {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  background: #cc0099;
  border-radius: 20px;
}

.text-info {
  margin-top: 5%;
  margin-left: 15%;
  color: #ffffff;
  font-size: 20px;
}

/*  弹幕css */

input {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-appearance: none;
  font-size: 1em;
  line-height: 1.5em;
  list-style: none;
}

input {
  outline: none;
  border: none;
  background: none;
}

/*弹幕展示区*/

#dm {
  /* width: 95%; */
  height: 200px;
  margin: 20px 5px;
  border-top: 2px solid #310650;
  border-bottom: 1px solid #66ffcc;
  /* border: 1px solid skyblue; */
}

#dm .dm_mask {
  width: 100%;
  height: 100%;
  /* position: relative; */
  /* overflow: hidden; */
}

/* 弹幕字体 */

#dm .dm_show .dm_mess {
  font-size: 20px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  left: 0;
  top: 0;
}

/*弹幕发布区*/

#promulgate {
  width: 100%;
  height: 20px;
  /*border: 1px solid rgba(255,20,80,.5);*/
  border-radius: 5%;
  /* margin: 0 auto; */
  position: relative;
}

#promulgate .pro-text {
  position: absolute;
  width: 65%;
  border: 1px solid skyblue;
  left: 3%;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 10px;
  -webkit-appearance: none;
  appearance: none;
  color: #ffffff;
}

#promulgate .pro-put {
  width: 20%;
  height: 30px;
  position: absolute;
  top: 5%;
  right: 5%;
  border: 1px solid skyblue;
  border-radius: 20%;
  color: skyblue;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

footer {
  display: block;
  position: absolute;
  bottom: 3%;
  left: 30%;
  justify-items: center;
  color: #756b6b;
}

.info-warpper-3 {
  margin-top: 5%;
  display: inline-block;
  width: 80%;
  /*margin-left: -45%;*/
}

.info2 {
  margin: 10% 0;
  color: #ffffff;
  float: left;
}

.button-vote2 {
  width: 60px;
  border-radius: 20px;
  height: 30px;
  line-height: 15px;
  padding-bottom: 4px;
  background-color: #9400D3;
  color: #ffffff;
}

.image-border2 {
  border: 2px #00ffcc solid;
  padding: 2px;
  border-radius: 50%;
  float: left;
  margin-left: 10px;
}

.image2 {
  width: 120px;
  height: 120px;
  border: 2px #cc3366 solid;
  border-radius: 60%;
}

.center {
  float: left;
  margin-left: 20px;
}

.container .progrss-warpper2 {
  margin-top: 5%;
  color: #ffffff;
  text-align: center;
}

.rate-left1 {
  margin-left: 10%;
}

.rate-right1 {
  margin-right: 10%;
}